<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Smriti.AI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
</head>
<body>

<div class="app">

    <!-- Sidebar -->
    <aside class="sidebar">

        <div class="logo">Smriti.ai</div>

        <button class="new-chat" onclick="window.location.href='/new-chat'">New Chat</button>
        <button class="new-chat" onclick="window.location.href='/'">Upload File</button>
        <div class="loaded-docs">
            <h3>Knowledge Base</h3>
            <div class="docs-list">
        {% for file, chunks in files.items() %}
            <div class="doc-item">
                📄 {{ file }}
                <span>{{ chunks }} chunks</span>
            </div>
        {% endfor %}
    </div>
        </div>
        <div class="chat-history">
            <h3> Recents</h3>
               <div class="history-scroll">

{% for chat in history %}
<div class="history-item">

    <a
        href="/chat/{{ chat.id }}"
        class="chat-link"
    >
        {{ chat.title }}
    </a>

    <form
        action="/delete-chat/{{ chat.id }}"
        method="POST"
        class="delete-form"
    >
        <button
            type="submit"
            class="delete-btn"
            onclick="return confirm('Delete this chat?')"
        >
            🗑
        </button>
    </form>

</div>
{% endfor %}

</div>
        </div>

        

    </aside>

    <!-- Main -->
    <main class="chat-container">

        <div id="chat-box" class="chat-box">

    {% if messages %}

        {% for msg in messages %}

        <div class="message {{ msg.role }}">

            <div class="avatar">
                {% if msg.role == "user" %}
                    👤
                {% else %}
                    👾
                {% endif %}
            </div>

            <div class="bubble">
                {{ msg.content }}
            </div>

        </div>

        {% endfor %}

    {% else %}

        <div class="welcome">
            <h1>What can I help with?</h1>
            <p>Ask questions about your uploaded documents.</p>
        </div>

    {% endif %}

</div>

        <!-- Input -->
        <div class="input-wrapper">
            <div class="input-container">
                <input
                    type="text"
                    id="question"
                    placeholder="Message Smriti..."
                    onkeydown="if(event.key==='Enter') askQuestion()">
                <button onclick="askQuestion()">➜</button>
            </div>
        </div>

    </main>

</div>

<!-- Loader Overlay -->
<div id="loader" class="loader-container">
    <div class="spinner"></div>
    <p>Processing document...</p>
</div>

<script src="{{ url_for('static', filename='js/chat.js') }}"></script>

</body>
</html>